<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.utilityfiles.ExtentReportListener"></listener>
</listeners>
  <test thread-count="5" name="Add to cart">
    <classes>
      <class name="com.Flipkart.Testcases.TC_Addtocart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
